@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#C3C1E6), color-stop(#D2C6E8), color-stop(#E1CCEB), color-stop(#F0D1ED), to(#FFD6EF));
  background-image: linear-gradient(to right, #C3C1E6, #D2C6E8, #E1CCEB, #F0D1ED, #FFD6EF);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  overflow: hidden;
}

body #score {
  font-size: 22px;
}

#choices-wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#choices-wrapper .choices {
  width: 32%;
  border: 2px solid #000;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 1rem 5rem;
}

#choices-wrapper .choices img {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 2px solid #000;
}

#choices-wrapper .choices .title {
  width: 100%;
  height: 42px;
  font-weight: bold;
}

#choices-wrapper .choices .viewCount {
  margin-bottom: 0;
  visibility: hidden;
}

#choices-wrapper .choices:hover {
  border-color: #a700a7;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#choices-wrapper .choices:hover img {
  border-bottom-color: #a700a7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#game_over_screen {
  border-top: 3px solid #a700a7;
  border-bottom: 3px solid #a700a7;
  color: #D2C6E8;
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.9)), color-stop(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  position: absolute;
  height: 200px;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#game_over_screen #wrapper {
  font-size: large;
  color: white;
  text-align: center;
  position: absolute;
  width: 370px;
  bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#game_over_screen #wrapper > * {
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 6px;
}

#game_over_screen #play_again_btn:hover {
  border-color: #a700a7;
  color: #a700a7;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease, color 0.3s ease;
  transition: border-color 0.3s ease, color 0.3s ease;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  bottom: 5px;
  left: 8px;
  right: 8px;
  margin-bottom: 0px;
}

footer .credits-btn {
  color: #000;
}

footer .back-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000;
}

.startScreen {
  color: #000;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5rem;
  border: 2px solid #a700a7;
  border-radius: 25px;
}

.startScreen .play-button {
  color: #000;
  text-decoration: none;
  background-color: rgba(167, 0, 167, 0.1);
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 8px;
}

.startScreen .play-button:hover {
  background-color: rgba(167, 0, 167, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#check-wrapper {
  position: absolute;
  width: 250px;
  height: 250px;
  display: inline-block;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#check-circle {
  display: none;
}

#checkmark {
  display: none;
  position: relative;
  content: '';
  width: 56px;
  height: 112px;
  top: 50%;
  left: 56px;
  border-top: 12px solid #77DD77;
  border-right: 12px solid #77DD77;
  -webkit-transform: scaleX(-1) rotate(135deg);
          transform: scaleX(-1) rotate(135deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: check 1s ease;
          animation: check 1s ease;
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  20% {
    width: 56px;
    height: 0px;
  }
  40% {
    width: 56px;
    height: 112px;
  }
  100% {
    width: 56px;
    height: 112px;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  20% {
    width: 56px;
    height: 0px;
  }
  40% {
    width: 56px;
    height: 112px;
  }
  100% {
    width: 56px;
    height: 112px;
  }
}

#cross-wrapper {
  position: absolute;
  width: 120px;
  height: 120px;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.cross {
  position: absolute;
  content: '';
  display: none;
}

#cross1 {
  width: 54px;
  height: 120px;
  border-right: 12px solid #ff6961;
  -webkit-animation: cross1 0.5s ease;
          animation: cross1 0.5s ease;
}

#cross2 {
  width: 120px;
  height: 54px;
  bottom: 0;
  right: 0;
  -webkit-animation: cross2 0.7s ease 0.1s forwards;
          animation: cross2 0.7s ease 0.1s forwards;
}

#credits-div {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  border: 2px solid #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  width: 500px;
  text-align: center;
  -webkit-animation: credits-box 1s forwards;
          animation: credits-box 1s forwards;
}

#credits-div h3 {
  margin-bottom: 0;
}

#credits-div p {
  margin-top: 0;
}

#credits-div img {
  -webkit-transform: translate(3px, 35%);
          transform: translate(3px, 35%);
}

@-webkit-keyframes credits-box {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes credits-box {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes cross1 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

@keyframes cross1 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

@-webkit-keyframes cross2 {
  0% {
    border-top: 12px solid #ff6961;
    width: 0;
  }
  100% {
    border-top: 12px solid #ff6961;
    width: 120px;
  }
}

@keyframes cross2 {
  0% {
    border-top: 12px solid #ff6961;
    width: 0;
  }
  100% {
    border-top: 12px solid #ff6961;
    width: 120px;
  }
}

@media screen and (max-width: 770px) {
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C3C1E6), color-stop(#D2C6E8), color-stop(#E1CCEB), color-stop(#F0D1ED), to(#FFD6EF));
    background-image: linear-gradient(#C3C1E6, #D2C6E8, #E1CCEB, #F0D1ED, #FFD6EF);
  }
  body #demo {
    display: none;
  }
  body #score {
    text-align: center;
    padding: 3px;
    margin-top: 0;
    background-color: rgba(167, 0, 167, 0.2);
  }
  #choices-wrapper .choices {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  #choices-wrapper .choices img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  #choices-wrapper #choice-1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #choices-wrapper #choice-1:hover {
    border-bottom: 2px solid #000;
  }
  #choices-wrapper #choice-2 {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #choices-wrapper #choice-2 img {
    border-radius: 0;
  }
  .startScreen {
    width: 100%;
    font-size: 3.5vw;
  }
  #game_over_screen {
    height: 140px;
    font-size: 1.5rem;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #game_over_screen #wrapper {
    font-size: small;
    width: 170px;
  }
  #check-circle {
    display: inline;
    position: absolute;
    width: 82px;
    height: 82px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #000;
    border: 2px solid #000;
    border-radius: 50%;
  }
  #check-wrapper {
    z-index: auto;
    width: 125px;
    height: 125px;
  }
  #check-wrapper #checkmark {
    width: 24px;
    height: 50px;
    top: 50%;
    left: 28px;
    border-top: 8px solid #77DD77;
    border-right: 8px solid #77DD77;
    -webkit-animation: check 1s ease;
            animation: check 1s ease;
  }
  @-webkit-keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    20% {
      width: 24px;
      height: 0px;
    }
    40% {
      width: 24px;
      height: 50px;
    }
    100% {
      width: 24px;
      height: 50px;
    }
  }
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    20% {
      width: 24px;
      height: 0px;
    }
    40% {
      width: 24px;
      height: 50px;
    }
    100% {
      width: 24px;
      height: 50px;
    }
  }
  #cross-wrapper {
    width: 60px;
    height: 60px;
  }
  #cross-wrapper #cross1 {
    width: 26px;
    height: 60px;
    border-right: 8px solid #ff6961;
    -webkit-animation: cross1 0.5s ease;
            animation: cross1 0.5s ease;
  }
  #cross-wrapper #cross2 {
    width: 60px;
    height: 26px;
    bottom: 0;
    right: 0;
    -webkit-animation: cross2 0.7s ease 0.1s forwards;
            animation: cross2 0.7s ease 0.1s forwards;
  }
  @-webkit-keyframes cross1 {
    0% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
  @keyframes cross1 {
    0% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
  @-webkit-keyframes cross2 {
    0% {
      border-top: 8px solid #ff6961;
      width: 0;
    }
    100% {
      border-top: 8px solid #ff6961;
      width: 60px;
    }
  }
  @keyframes cross2 {
    0% {
      border-top: 8px solid #ff6961;
      width: 0;
    }
    100% {
      border-top: 8px solid #ff6961;
      width: 60px;
    }
  }
}
/*# sourceMappingURL=styles.css.map */